.cbs-menu-query hr {
    border: 1px solid var(--surface-300);
}
.cbs-menu-query-tab {
    margin: 10px;
    display: flex;
    align-items: center;
}
.cbs-menu-query-tab div {
    width: calc(100%/2);
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.2em;
    cursor: pointer;
}
.cbs-menu-query-tab div.active {
    /* box-shadow: 1px 1px 3px 1px var(--primary-color),-1px -1px 3px 1px var(--primary-color); */
    border-radius: 3px;
}
.cbs-menu-query-tab div svg, .cbs-menu-query-tab div span {
    color: var(--text-color-secondary);
}
.cbs-menu-query-tab div.active svg, .cbs-menu-query-tab div.active span {
    color: var(--primary-color);
}
.cbs-tab-indicator {
    position: relative;
    width: calc(100%/2);
    height: 2px;
    border-radius: 2px;
    transition: .5s;
    background-color: var(--primary-color);
    left: 0px;
}
.cbs-tab-indicator[data-value="query-geom"] {
    left: calc(100%/2);
}
.query-count {
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding-right: 20px;
}
.query-count button {
    padding: 0.4em 0.6em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--primary-color);
    background-color: var(--surface-a);
    color: var(--primary-color);
    cursor: pointer;
    transition: 1s;
}
.query-count button:hover{
    border: 1px solid var(--surface-100);
    background-color: var(--primary-color);
    color: var(--surface-100);
}
.query-count svg {
    margin-left: auto;
    color: var(--primary-color);
}
.cbs-geom-polygon {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.cbs-geom-polygon div {
    width: calc(100% / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}
.cbs-geom-polygon div div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--primary-color);
}
.cbs-geom-polygon div div svg {
    color: var(--surface-a);
    font-size: 1.5rem;
}
.cbs-geom-polygon div span {
    color: var(--text-color-secondary)
}
